<div class="product-item text-center">
    <a href="{{ path('app_product', {'slug': product.slug }) }}">
        <img src="/assets/uploads/images/{{ product.illustration }}" alt="Image de {{ product.name }}" class="img-fluid">
    </a>
    <h4>{{ product.name }}</h4>
    <span>{{ product.subtitle }}</span>
    <span class="product-price">{{ (product.price / 100)|number_format(2, ',') }} €</span>
</div>
