{% extends 'base.html.twig' %}

{% block title %}Paiement de ma commande !{% endblock %}

{% block content %}
    <h2>Je passe ma commande</h2>
    <p>Vérifier vos informations avant de payer votre commande</p>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <div class="form-check mt-4">
                {{ delivery|raw }}<br/>
            </div>
            <hr>
            <div class="form-check">
                <strong>Mon transporteur</strong>
                {{ carrier.name }}<br>
                {{ carrier.description }}<br>
                {{ carrier.price }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="text-center">
                <b>Récapitulatif de commande</b></br>
                <p>Retrouvez le récapitulatif de vos produits</p>
            </div>
            <div class="order-summary">
                {% set total = null %}
                {% for key,product in cart %}
                    <div class="row {% if key > 0 %}mt-2{% endif %}">
                        <div class="col-2">
                            <img height="75px" src="/assets/uploads/images/{{ product.product.illustration }}" alt="{{ product.product.name }}">
                        </div>
                        <div class="col-8 my-auto">
                            {{ product.product.name }} <br/>
                            <small>{{ product.product.subtitle }}<br/>
                                x {{ product.quantity }}
                            </small>
                        </div>
                        <div class="col-2 my-auto">
                            {{ ((product.product.price * product.quantity) / 100)|number_format(2, ',') }} €
                        </div>
                    </div>
                    {% set total = total + (product.product.price * product.quantity) %}
                {% endfor %}
            </div>
            <hr>
            <strong>Sous-Total :</strong> {{ (total / 100)|number_format(2, ',') }} €<br/>
            <strong>Livraison :</strong> {{ carrier.price|number_format(2, ',') }} € <br/>
            <hr>
            <strong>Total:</strong> {{ ((total / 100) + carrier.price)|number_format(2, ',') }} €
            <a href="" class="btn btn-success btn-block mt-3">Payer {{ ((total / 100) + carrier.price)|number_format(2, ',') }} €</a>
        </div>
    </div>
{% endblock %}
